API/Web/obj/Debug/net9.0/Server.assets.cache
API/Web/obj/Debug/net9.0/Server.csproj.AssemblyReference.cache
API/Web/obj/Debug/net9.0/Server.AssemblyInfoInputs.cache
API/Web/obj/Debug/net9.0/Server.AssemblyInfo.cs
