API/Web/obj/Debug/net9.0/Server.assets.cache
API/Web/obj/Debug/net9.0/Server.csproj.AssemblyReference.cache
API/Web/obj/Debug/net9.0/Server.AssemblyInfoInputs.cache
API/Web/obj/Debug/net9.0/Server.AssemblyInfo.cs
API/.vs/API.slnx/v18/.suo
API/.vs/API.slnx/FileContentIndex/ca202c4f-a99d-4686-9187-652a05759a33.vsidx
API/.vs/API.slnx/config/applicationhost.config
