# Ignore generated .NET build artifacts
Web/obj/
Web/bin/
DynamicTransaction/obj/
DynamicTransaction/bin/
**/obj/
**/bin/
**/*.assets.cache
**/*.AssemblyInfo.cs
**/*.AssemblyInfoInputs.cache
**/*.AssemblyReference.cache
**/*.GeneratedMSBuildEditorConfig.editorconfig
**/*.cache
.vs